*.zip filter=lfs diff=lfs merge=lfs -text
Data/**/*.zip filter=lfs diff=lfs merge=lfs -text
Data/**/*.csv filter=lfs diff=lfs merge=lfs -text
Data/**/*.CSV filter=lfs diff=lfs merge=lfs -text
Data/**/*telemetry*_chunk_*.json filter=lfs diff=lfs merge=lfs -text
Data/**/*telemetry*_index.json filter=lfs diff=lfs merge=lfs -text
